body {
    padding-top: 60px;
}

#event-container {
    padding: 30px;
}

.datepicker td,
.datepicker th {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.85rem;
}

.datepicker {
  margin-bottom: 3rem;
}
