body,
html {
    height: 100%;
}

#event-banner {
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


div.event-info {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#event-description {
    padding: 20px;
    border: 1px solid;
}

#members {
    text-align: left;
    padding: 50px;
}

.navbar-light .navbar-brand {
    color: rgba(255,255,255,.8);
}